In [1]:
import glob
import pandas as pd
import numpy as np
import xml.etree.ElementTree as et
import os
from datetime import datetime
import re
from tqdm import tqdm

In [38]:
# Creating a dataframe with our required fields
df = pd.DataFrame(columns='Id Date Post Gender Age Industry Astrosign'.split())

In [12]:
# Importing ASCII Data
df1 = pd.read_csv('CSVData/ASCIIData.csv')

In [15]:
# Importing UTF-8 Data
df2 = pd.read_csv('CSVData/UTF8Data.csv')

In [24]:
# Importing BIN Data
df3 = pd.read_csv('CSVData/BINData.csv')

In [30]:
# Importing unknown-8bit Data
df4 = pd.read_csv('CSVData/Unknown8bitData.csv')

In [32]:
# Importing ISO-8859-1 Data
df5 = pd.read_csv('CSVData/ISOData.csv')

In [33]:
df1.shape

(175691, 7)

In [34]:
df2.shape

(327664, 7)

In [35]:
df3.shape

(12643, 7)

In [36]:
df4.shape

(153145, 7)

In [37]:
df5.shape

(9051, 7)

In [39]:
datas = [df1,df2,df3,df4,df5]

In [41]:
# Our combined data across all the blog files
df = pd.concat(datas)

In [43]:
df.shape

(678194, 7)

In [44]:
df.to_csv('CSVData/Allformatdata.csv',index=False)

In [45]:
df

,Id,Date,Post,Gender,Age,Industry,Astrosign
0,1000331,"31,May,2004","\n\n\t \n Well, everyone got up and going...",female,37,indUnk,Leo
1,1000331,"29,May,2004",\n\n\t \n My four-year old never stops ta...,female,37,indUnk,Leo
2,1000331,"28,May,2004","\n\n\t \n Actually it's not raining yet, ...",female,37,indUnk,Leo
3,1000331,"28,May,2004",\n\n\t \n Ha! Just set up my RSS feed - t...,female,37,indUnk,Leo
4,1000331,"28,May,2004","\n\n\t \n Oh, which just reminded me, we ...",female,37,indUnk,Leo
...,...,...,...,...,...,...,...
9046,963380,"04,July,2004",\n\n\t \n I was pretty close to right on ...,male,24,Student,Cancer
9047,963380,"04,July,2004",\n\n\t \n On the way home tonight I happe...,male,24,Student,Cancer
9048,963380,"03,July,2004",\n\n\t \n Some things I didn't touch on. ...,male,24,Student,Cancer
9049,963380,"03,July,2004",\n\n\t \n It's been an interesting week. ...,male,24,Student,Cancer
9050,963380,"03,August,2004","\n\n\t \n Alright, here's the breakdown a...",male,24,Student,Cancer